# THE FIRST EVER TAG FILE WRITTEN FOR NAKLO

# album-wide constants
albumartist = Gil Shaham
artist = Gil Shaham
disctotal = 2

# disparate tags
01-07 12-15 conductor = David Robertson
08-11 conductor = Gil Shaham
16-18 conductor = Juanjo Mena

# tags by disc 

01-11 discnumber = 1

01-03 composer = Samuel Barber
01-03 artist = New York Philharmonic
01-03 location = Avery Fisher Hall, New York
01-03 date = 2010-04-25
01-03 date = 2010-04-26
01-03 date = 2010-04-27
04-07 composer = Alban Berg
04-07 artist = Staatskapelle Dresden
04-07 location = Staatsoper Dresden, Dresden
04-07 date = 2010-06-13
04-07 date = 2010-06-14
04-07 date = 2010-06-15
08-11 composer = Karl Amadeus Hartmann
08-11 artist = Sejong Soloists
08-11 location = LeFrak Concert Hall, Aaron Copland School of Music, Queens College, CUNY, New York
08-11 date = 2013-08-31
08-11 date = 2013-09-01

12-18 discnumber = 2

12-15 composer = Igor Stravinsky
12-15 artist = BBC Symphony Orchestra
12-15 location = Barbican Centre, London
12-15 date = 2008-12-08
16-18 composer = Benjamin Britten
16-18 artist = Boston Symphony Orchestra
16-18 location = Symphony Hall, Boston
16-18 date = 2012-11-01
16-18 date = 2012-11-02
16-18 date = 2012-11-03
16-18 date = 2012-11-06
